body {
    margin: 0;
    font-family: sans-serif;
    background: #1a1a1d;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 90vh;
    margin: 30px auto;
}

#bands {
    height: 90%;
    list-style: inside square;
    font-size: 20px;
    background: white;
    max-width: 500px;
    width: 70%;
    margin: auto;
    padding: 0;
    border-radius: 10px;
    box-shadow: 0 0 10px 20px rgba(255, 255, 255, 0.3);
}
  
#bands li {
    border-bottom: 1px solid #efefef;
    padding: 10px;
}
  
#bands li:last-child {
    border-bottom: 0;
}

a {
    color: #ffc600;
    text-decoration: none;
}